// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.username-comment {
  font-style: italic;
  font-weight: bold;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: lightgray;
  text-align: left;
  padding: 5px;
  color: gray;
}

.comment-number-container {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 3px;
}

.body-comment {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid white;
  border-left: 0px;
  background-color: white;
  color:gray;
  margin-bottom: 30px;
  padding: 5px 0px;
}

.comment-container {
  margin: 20px 0px;
}

.comment-form {
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 30px;
}

.new-date {
  font-style: italic;
  color: lightgray;
  font-size: small;
  float:left;
  padding-left: 20px;
  width:100%;
}

.new-container {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 25px;
  margin-top: 50px;
  width: 60%;
  margin-left: 20%;
  background-color: white;
}

.comments-container {
  padding: 0px;
}

.create-new-container{
    margin-top: 50px;
}
